<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document ILHAM</title>
</head>
<body>
  <div id="app-1">

    <input v-model="gantidata" placeholder="tambah"> <button onclick="vm.tambahPeserta()">add</button>
   
   
   <ol>
    <li v-for="user in users">   
        <p>  
        {{user.name}}       
        <button onclick="vm.editPeserta()">Edit</button>
        <button onclick="vm.deletePeserta()">Delete</button>
    </p> 
      </li>
    </ol>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
   var vm = new Vue({
      el: '#app-1',
      data: {
            users: [
                {name:'Muhammad Iqbal Mubarok'},
                {name:'Ruby Purwanti'},
                {name:'Faqih Muhammad'}
            ],
         
      },

      computed : {

      },

      methods : {
        tambahPeserta:function(){            

           Array_push(users.name,gantidata);
      },

      editPeserta:function(even){

            // `this` inside methods points to the Vue instance
            alert('Hello ' + this.users.name + '!')
            // `event` is the native DOM event
            if (event) {
                alert(event.target.tagName)
            }

      },

      deletePeserta:function(){

      }


      }

  });
  </script>


</body>
</html>